<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>show personal page</title>
</head>
<body>
<h1>Personal page</h1>
<p>
<p th:text="${person.getId()}">DATA</p>
<p th:text="${person.getName()}">DATA</p>
<p th:text="${person.getHeight()}">DATA</p>
<p>
    <a th:href="@{/usr/edituser?id={id}(id=${person.getId()})}">Edit user</a>
<p>
<form th:method="POST" th:action="@{/usr/delete?id={id}(id=${person.getId()})}">
    <input type="submit" value="Delete">
</form>

</body>
</html>